body {
    margin: 0;
padding: 0;
background-color: #ADD2EC;
height: auto;
color:black;
font-size:20px;
}


#content {
margin: 0 auto;
position: relative;
width: 100%;
height: 795px;
}

#izquierda{
width:50%;
height:100%;
background-color:white;
float: left;
 align-content:center;
 text-align:center;
}
#formu{

border-style:dotted;
margin:20% 20% 20% 20%;


}

#formu input[type=number]{
    border: none;
border-bottom:2px solid black;
width:200px;

}
#formu input[type=password]{
    border: none;
border-bottom:2px solid black;
width:200px;

}

#derecha{
width:50%;
height:100%;
background-color:#EEB600;
float: right;
 text-align:center;
}


